.login__page {
    margin-top: 100px;
    text-align: center;
    color: #fff;

    font-weight: 800;
}

.login__label {
    font-size: 50px;

}

.login__btn {
    padding: 10px 30px;
    border: 2px solid rgb(11, 21, 95);
    border-radius: 6px;
    font-size: 25px;
    color: white;
    background-color: rgb(11, 21, 95);
    cursor: pointer;
    transition: .3s linear;
}

.login__btn:hover {
    border-color: rgb(223, 195, 243);
    color: rgb(11, 21, 95);
    background-color: rgb(223, 195, 243);
}