.nav__bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
}


.nav__title {
    color: rgb(11, 21, 95);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    margin-left: 20px;
    font-size: 50px;
  
}

.links {
    margin: auto 0;  
    margin-right: 40px;
}

.link {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 500;
    transition: .3s linear;
}

.link:hover {
    color: rgb(213, 154, 255);

}

.button__link {
    color: rgb(11, 21, 95);
    text-decoration: none;
    font-size: 25px;
    margin-left: 20px;
    border: 2px solid white;
    background-color: white;
    padding: 10px 30px;
    border-radius: 6px;
    font-weight: 500;
    transition: .3s linear;
    cursor: pointer;
}

.button__link:hover {
    color: rgb(11, 21, 95);
    border-color: rgb(213, 154, 255);
    background-color: rgb(213, 154, 255);
}